.about-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-card {
  display: flex;
  justify-content: center;
  width: 60vw;
  gap: 20px;
}

.about-title-container {
  background-color: var(--box-color);
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 20px;
  height: 30vh;
  min-width: 25vw;
}

.about-image {
  margin-top: 100px;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

@media screen and (max-width: 1000px) {
  .about-container {
    min-height: 100vh;
  }

  .about-card {
    width: 80vw;
    flex-direction: column-reverse;
    gap: 0;
  }

  .about-title-container {
    height: 35vh;
    padding-top: 6px;
    text-align: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .about-image {
    margin-top: 100px;
    max-width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

@media screen and (max-width: 400px) {
  .about-title-container {
    height: 45vh;
  }
}
