.contact-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.contact-page-title {
  font-size: 4em;
  text-align: center;
}

.contact-form {
  min-height: 72vh;
  width: 70vw;
  background-color: var(--box-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: initial-enter 0.4s ease-in;
}

.form-input-container {
  background-color: var(--header-bg-color);
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  padding: 20px;
  width: 600px;
  margin-bottom: 1em;
  border-radius: 1em;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.form-input-container label {
  display: block;
  width: 0;
  visibility: hidden;
}

.form-input-container input,
.form-input-container textarea {
  font-family: var(--text-font);
  color: var(--text-color);
  width: 90%;
  padding: 16px;
  border: none;
  background-color: inherit;
  font-size: 16px;
  resize: none;
}

.form-input-container input::placeholder,
.form-input-container textarea::placeholder {
  color: var(--text-color);
  transition: opacity 0.2s ease-in;
}

.form-input-container input:focus,
.form-input-container textarea:focus {
  outline: none;
}

.form-input-container input:focus::placeholder,
.form-input-container textarea:focus::placeholder {
  opacity: 0;
}

.form-input-icon {
  color: var(--button-color);
  font-size: 1.5em;
  position: absolute;
  top: 35px;
  left: 32px;
  transition: all 100ms;
}

.success-icon {
  transition: all 1s;
  color: green;
}

.error-icon {
  transition: all 1s;
  color: red;
}

.form-input-container input:focus + .form-input-icon,
.form-input-container textarea:focus + .form-input-icon {
  top: 33px;
}

.form-submit-button {
  width: 640px;
  transition: all 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-submit-button-loading {
  border-radius: 90px;
  max-width: 60px;
  transition: all 0.5s ease-out;
}

.form-submit-button:disabled {
  cursor: not-allowed;
}

.form-submit-button:disabled:hover {
  background-color: var(--button-color);
}

/* autofill settings */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--header-bg-color) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}

.loading-spinner {
  color: var(--text-color);
  animation: appear 1s ease-out forwards, spin 2s linear infinite,
    grow-shrink 1.5s 1.5s linear alternate infinite;
}

@keyframes appear {
  0% {
    scale: 0;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes grow-shrink {
  0% {
    scale: 1;
  }
  100% {
    scale: 2;
  }
}

@media only screen and (max-width: 900px) {
  .form-input-container {
    width: 80%;
  }

  .form-submit-button {
    width: calc(80% + 40px);
  }

  .form-input-container input,
  .form-input-container textarea {
    margin-left: 25px;
  }
}
