.contact-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.contact-page-title {
  font-size: 4em;
}

.contact-form {
  height: 70vh;
  width: 70vw;
  background-color: var(--box-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: initial-enter 0.4s ease-in;
}

.form-input-container {
  background-color: var(--header-bg-color);
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  padding: 20px;
  width: 600px;
  margin-bottom: 1em;
  border-radius: 1em;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.form-input-container label {
  display: block;
  width: 0;
  visibility: hidden;
}

.form-input-container input,
.form-input-container textarea {
  font-family: var(--text-font);
  color: var(--text-color);
  width: 90%;
  padding: 16px;
  border: none;
  background-color: inherit;
  font-size: 16px;
  resize: none;
}

.form-input-container input::placeholder,
.form-input-container textarea::placeholder {
  color: var(--text-color);
  transition: opacity 0.2s ease-in;
}

.form-input-container input:focus,
.form-input-container textarea:focus {
  outline: none;
}

.form-input-container input:focus::placeholder,
.form-input-container textarea:focus::placeholder {
  opacity: 0;
}

.form-input-icon {
  color: var(--button-color);
  font-size: 1.5em;
  position: absolute;
  top: 35px;
  left: 32px;
  transition: top 0.2s ease-in;
}

.form-input-container input:focus + .form-input-icon,
.form-input-container textarea:focus + .form-input-icon {
  top: 33px;
}

.form-submit-button {
  width: 640px;
}

/* autofill settings */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--header-bg-color) inset !important;
  -webkit-text-fill-color: var(--text-color) !important;
}
