.project-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.portfolio-page-title {
  font-size: 4em;
}

.project-card {
  height: 50vh;
  width: 50vw;
  border: 3px solid var(--header-bg-color);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  background-image: url('https://dummyimage.com/300');
  background-position-x: center;
  background-position-y: top;
  background-repeat: no-repeat;
  background-size: cover;
  animation: initial-enter 0.4s ease-in;
}

.next-project {
  animation: move-left 0.2s ease-in, enter-right 0.2s 0.2s ease-out;
}

.prev-project {
  animation: move-right 0.2s ease-in, enter-left 0.2s 0.2s ease-out;
}

@keyframes initial-enter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes move-left {
  0% {
    transform: translateX(0);
    filter: blur(10px) grayscale(100%);
  }
  100% {
    transform: translateX(-1500px);
    filter: blur(0) grayscale(100%);
  }
}

@keyframes enter-right {
  0% {
    transform: translateX(1500px);
    filter: blur(10px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes move-right {
  0% {
    transform: translateX(0);
    filter: blur(20px) grayscale(100%);
  }
  100% {
    transform: translateX(1500px);
    filter: blur(0) grayscale(100%);
  }
}

@keyframes enter-left {
  0% {
    transform: translateX(-1500px);
    filter: blur(20px);
  }
  100% {
    transform: translateX(0);
    filter: blur(0);
  }
}
