* {
  font-family: 'Share Tech Mono', monospace;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: './img/home-background.jpg';
  background-size: cover;
  height: 100vh;
  background-color: black;
}

.heading {
  font-family: 'Press Start 2P', cursive;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.projects {
  scrollbar-width: auto;
  scrollbar-color: rgb(50, 38, 89) #000000;
}

/* Chrome, Edge, and Safari */
.projects::-webkit-scrollbar {
  width: 14px;
}

.projects::-webkit-scrollbar-track {
  opacity: 100%;
}

.projects::-webkit-scrollbar-thumb {
  background-color: rgba(50, 38, 89, 95%);
  border-radius: 10px;
  border: 3px none #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
