.socialIcon {
  position: relative;
  top: 2px;
  transition: opacity 0.2s;
}

.containerList {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-right: 20px;
  transition: opacity 0.2s;
}

.containerList:hover > * {
  opacity: 0.3;
}

.containerList li,
.containerList li a {
  list-style: none;
  transition: all 0.2s;
  position: relative;
}

.containerList li:hover {
  opacity: 1;
}

.resumeList {
  color: var(--text-color);
  cursor: default;
  transition: all 0.2s;
}

.listScrolled {
  color: var(--header-bg-color);
}

/* HAMBURGER MENU */

.hamburgerIcon {
  font-size: 2em;
  margin-right: 20px;
  transition: var(--scroll-transition);
}

.drawer {
  position: absolute;
  background-color: var(--header-bg-color);
  visibility: hidden;
  margin-top: 100px;
  border-bottom-left-radius: 10px;
  right: 0;
  top: 0;
  box-shadow: var(--box-shadow);
}

.drawerShow {
  visibility: visible;
  animation: scroll-from-right 0.3s ease-out;
}

.drawerNavContainer {
  list-style-type: none;
  margin: 0;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
}

.drawerNavContainer li {
  transition: none;
}

.drawerNavContainer li a {
  transition: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.drawerText {
  margin: 12px 0px;
  font-size: large;
  font-weight: bold;
}

/* HAMBURGER MENU SCROLLED */

.hamburgerIconScrolled {
  color: var(--header-bg-color);
}

.drawerScrolled {
  background-color: var(--header-bg-color-transparent);
  backdrop-filter: blur(5px);
}

@keyframes scroll-from-right {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes scroll-from-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(1000px);
  }
}
