/* TODO: This is having weird issues with the border radius */
.projectInfoCard {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 8px;
  height: 100%;
  width: 40%;
  transition: all ease-in 0.3s;
  right: 0px;
  background: var(--box-color);
  backdrop-filter: blur(5px);
}

.projectInfoCard::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 30%;
  right: 100%;
  background: linear-gradient(90deg, transparent 0%, var(--box-color) 100%);
}

.projectTitleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectTitle {
  font-size: 2em;
  font-weight: bold;
  margin: 10px 0;
}

.languageContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.descriptionContainer {
  padding: 15px;
  border-radius: 20px;
  background: var(--box-color-transparent);
  backdrop-filter: blur(5px);
}

.description {
  text-align: center;
  margin: 0;
}

.languageList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.languages {
  position: relative;
  font-size: 0.9em;
  height: 30px;
  width: 30px;
  margin: 0px;
}

.languages svg {
  font-size: 30px;
  /* top: 10px; */
}

.languages svg:hover,
.languages img:hover {
  animation: wiggle 700ms alternate infinite;
}

.languageTextContainer {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.languageIconContainer {
  position: relative;
}

.languageText {
  margin: 0;
}

.techTitle {
  margin: 0px;
  font-size: 2em;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: var(--header-bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 120%;
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.3s;
}

.tooltip::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--header-bg-color) transparent transparent transparent;
}

.languageIconContainer:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 900px),
  only screen and (max-height: 1120px) {
  .projectTitleContainer {
    justify-content: space-evenly;
  }

  .projectInfoCard {
    width: 100%;
    background: transparent;
    backdrop-filter: none;
  }

  .projectTitleContainer {
    padding: 16px;
    margin: 6px;
    border-radius: 20px;
    background: var(--box-color-transparent);
    backdrop-filter: blur(5px);
  }

  .descriptionContainer {
    margin: 6px;
  }
}

/* DARK MODE */

[data-theme='dark'] {
  .projectTitleContainer {
    background: var(--box-color-transparent-dm);
    color: white;
  }

  .descriptionContainer {
    background: var(--box-color-transparent-dm);
    color: white;
  }

  .projectInfoCard {
    background-color: var(--box-color-dm);
  }

  .projectInfoCard::after {
    background: linear-gradient(
      90deg,
      transparent 0%,
      var(--box-color-dm) 100%
    );
  }
}

@media only screen and (max-width: 900px),
  only screen and (max-height: 1120px) {
  [data-theme='dark'] {
    .projectInfoCard {
      background-color: transparent;
      backdrop-filter: none;
    }
  }
}
