.project-info-card {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: var(--box-color);
  text-align: center;
  min-height: 20vh;
  width: 30vw;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;
  opacity: 0.95;
  transition: all ease-in 0.3s;
}

.project-info-card:hover {
  opacity: 1;
}

.project-title-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0;
}

.language-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 0;
}

.description {
  text-align: left;
  margin-top: -5px;
}

.language-list {
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.languages {
  font-size: 0.9em;
}

.languages svg {
  font-size: 30px;
  margin-right: 5px;
}

.language-icon-container {
  position: relative;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: var(--header-bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 90%;
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.5s;
}

.tooltip::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--header-bg-color) transparent transparent transparent;
}

.language-icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
