.picture-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  /* background image */
  background-image: url('https://dummyimage.com/300');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* simple margin adjustment */
.mr-10 {
  margin-right: 10px;
}

.icon {
  margin-bottom: -2.7px;
}
