.project-info-card {
  border-top: solid black 2px;
  background-color: var(--box-color);
  text-align: center;
  height: 42%;
  width: 100%;
  transition: all ease-in 0.3s;
}

.project-title-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-title {
  font-size: 2em;
  font-weight: bold;
}

.language-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.description {
  text-align: center;
  padding: 20px;
  /* margin-top: -15px; */
}

.language-list {
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.languages {
  font-size: 0.9em;
}

.languages svg {
  font-size: 30px;
  margin-right: 5px;
}

.language-icon-container {
  position: relative;
  bottom: 7px;
}

.tech-title {
  margin-right: 4px;
}

.language-text {
  margin-bottom: 19px;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: var(--header-bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 90%;
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.5s;
}

.tooltip::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--header-bg-color) transparent transparent transparent;
}

.language-icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
