.project-info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: solid var(--header-bg-color) 2px;
  background-color: var(--box-color);
  text-align: center;
  height: 50%;
  width: 100%;
  transition: all ease-in 0.3s;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.project-title-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: -50px;
}

.project-title {
  font-size: 2em;
  font-weight: bold;
}

.language-container {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.description {
  text-align: center;
  padding: 0 20% 5vh 20%;
}

.language-list {
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.languages {
  font-size: 0.9em;
}

.languages svg {
  font-size: 30px;
  margin-right: 5px;
}

.language-icon-container {
  position: relative;
  bottom: 18px;
}

.tech-title {
  margin-right: 4px;
  font-size: 2em;
}

.language-text {
  margin-bottom: 19px;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: var(--header-bg-color);
  color: var(--text-color);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 90%;
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.5s;
}

.tooltip::after {
  content: ' ';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--header-bg-color) transparent transparent transparent;
}

.language-icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px), screen and (max-height: 1120px) {
  .project-info-card {
    height: 70%;
  }

  .project-title {
    font-size: 1.5em;
    font-weight: bold;
  }

  .project-title-container {
    height: 40%;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .tech-title {
    font-size: 1em;
  }

  .languages svg {
    font-size: 20px;
    margin-right: 5px;
  }

  .description-container {
    padding-bottom: 5vh;
    overflow-y: scroll;
  }

  .description {
    padding: 0 5% 0 5%;
  }
}
