.project-navigation {
  display: flex;
  flex-direction: row;
  height: 8%;
  justify-content: space-between;
  width: 100%;
  transition: all ease-in 0.3s;
  background-color: var(--box-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project-navigation > :first-child {
  margin-left: 10%;
}

.project-navigation > :last-child {
  margin-right: 10%;
}

.project-navigation button {
  margin-bottom: 2px;
}

.links {
  display: flex;
  gap: 10px;
}

.icon {
  margin-bottom: -2.7px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
