.projectNavigation {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  bottom: 5px;
  transition: all ease-in 0.3s;
}

.projectNavigation > :first-child {
  margin-left: 10%;
}

.projectNavigation > :last-child {
  margin-right: 10%;
}

.projectNavigation button {
  margin-bottom: 8px;
}

.links {
  display: flex;
  gap: 10px;
}

.icon {
  margin-bottom: -2.7px;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

@media only screen and (max-width: 900px) {
  .projectNavigation {
    justify-content: space-evenly;
  }

  .projectNavigation > :first-child {
    margin-left: 0;
  }

  .projectNavigation > :last-child {
    margin-right: 0;
  }

  .links {
    gap: none;
  }
}
