:root {
  --main-bg-color: #5c6b73;
  --header-bg-color: #253237;
  --title-color: #c2dfe3;
  --text-color: #e0fbfc;
  --box-color: #9db4c0;
}

.project-box:hover {
  opacity: 75%;
  transition: 300ms;
}
