@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Sriracha&display=swap');

:root {
  --main-bg-color: whitesmoke;
  --header-bg-color: #5f0f40;
  --title-color: #c2dfe3;
  --text-color: #e0fbfc;
  --box-color: white;
  --button-color: #9a031e;
  --button-color-active: #ffd60a;
  --box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030;

  /* Fonts */
  --heading-font: 'Sriracha', cursive;
  --text-font: 'Baloo 2', cursive;
}

html {
  scroll-behavior: smooth;
}

/* General Font Styling */

h1 {
  font-family: var(--heading-font);
  font-weight: 400;
}

h2 {
  font-family: var(--heading-font);
  font-weight: 400;
}

li {
  font-family: var(--text-font);
}

p {
  font-family: var(--text-font);
  font-weight: 500;
}

/* ================ */

.app {
  min-height: 100vh;
  background: var(--main-bg-color);
  z-index: 0;
}

.project-box:hover {
  opacity: 75%;
  transition: 300ms;
}

/* General Button */

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: var(--button-color);
  border: 1px solid transparent;
  border-radius: 0.75rem;
  color: var(--text-color);
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.75rem 1.2rem;
  text-align: center;
  transition: ease-in 0.2s;
  box-shadow: var(--box-shadow);
}

button:hover {
  background-color: var(--button-color-active);
}

button:focus {
  outline: 2px solid var(--button-color-active);
  outline-offset: -1px;
}
